/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	padding-top: 20px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	justify-content: flex-end;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



/** étape 1**/
html {
	background: #FFFEF8;
}

.filtres {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

.filtre {
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 0.6% 1%;
	font-family: 'Syne';
	color: #1D6154;
}

.filtre:hover {
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

input {
	all: unset;
  }



.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
  }
  
  .modal-content {
	background: #FFFEF8;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
  }
  
  .modal-content h2 {
	text-align: center;
	margin: 40px 0;
  }

  .connect {
	padding: 10px 20px;
  }

  .close-btn {
	background: none;
	border: none;
	transform: scale(3);
	position: absolute;
	top: 180px;
	left: 160px;
  }

  .header-modal {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
  }

  .login-input {
	display: flex;
	flex-direction: column;
  }

  #username {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 4px 14px 0px #00000017;
	padding: 10px 0 10px 4px;
	background-color: white;
  }

  #password {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 4px 14px 0px #00000017;
	padding: 10px 0 10px 4px;
	background-color: white;
  }

  .texte-login {
	margin-left: 38%;
	padding-top: 20px;
	padding-bottom: 15px;
  }

  .mdp-oub {
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
  }


  .error {
	background-color: red;
	color: white;
	padding: 10px;
	text-align: center;
  }
  

  .post-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
  }

  .modal-content1 {
	background: #FFFEF8;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 630px;
	height: 731px;
	border-radius: 10px;
	position: relative;
  }

  .gallery-text {
	font-size: 26px;
	font-weight: 550;
	text-align: center;
	margin-top: 30px;
  }

  .modal-close-btn {
	background: none;
	border: none;
	transform: scale(3);
	position: absolute;
	top: 40px;
	right: 80px;
	cursor: pointer;
  }

  .img-post {
	width: 76px;
	height: 102px;
	object-fit: cover;
  }

  .img-post-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	text-align: center;
	width: 450px;
	position: absolute;
	top: 130px;
	left: 125px;
  }

  .barre {
	border: lightgray solid 1px;
	width: 420px;
	position: absolute;
	bottom: 210px;
	left: 125px;
  }

  .img-post-details {
	width: 76px;
	position: relative;
  }

  .img-post-details p {
	cursor: pointer;
  }

  .rectangle {
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 5px;
	position: absolute;
	top: 4px;
	right: 22px;
	cursor: pointer;
  }

  .fa-arrows-up-down-left-right {
	color: white;
	position: absolute;
	right: 1px;
	top: 1px;
	transform: scale(0.8);
  }

  .rectangle1 {
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 5px;
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
  }

  .fa-trash-can {
	color: white;
	transform: scale(0.7);
  }

  .add-work {
	position: absolute;
	bottom: 100px;
	left: 240px;
	padding: 10px 5px;
	cursor: pointer;
  }

  .delete-work {
	color: #D65353;
	position: absolute;
	bottom: 80px;
	left: 267px;
	cursor: pointer;
  }


  /* Styles pour la modale "Ajout travail" */
.add-work-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
  }
  
  .modal-content2 {
	background: #FFFEF8;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 630px;
	height: 731px;
	border-radius: 10px;
	position: relative;
  }

  .modal-content2 h2 {
	text-align: center;
	margin-top: 40px;
  }
  
  .add-work-form {
	display: flex;
	flex-direction: column;
  }
  
  .add-work-form label {
	margin-top: 20px;
  }
  
  .add-work-form input[type="text"] {
	height: 40px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
  
  .add-work-form input[type="submit"] {
	position: absolute;
	bottom: 80px;
	left: 240px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 30px auto 0;
	width: 180px;
	height: 40px;
	text-align: center;
	border-radius: 60px;
  }
  
  .modal-close-btn2 {
	background: none;
	border: none;
	transform: scale(3);
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
  }

  .barre2 {
	border: lightgray solid 1px;
	width: 420px;
	position: absolute;
	bottom: 150px;
	left: 125px;
  }

  .image-text {
	display: none;
  }

  input[type="file"]::-webkit-file-upload-button {
	visibility: hidden;
  }
  
  input[type="file"]::before {
	content: '+ Ajouter photo';
	display: inline-block;
	padding: 10px 20px;
	background-color: #CBD6DC;
	color: #306685;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	border-radius: 25px;
	cursor: pointer;
  }
  
  input[type="file"]:hover::before {
	background-color: #3a9478;
  }

  .work-image {
	background-color: #E8F1F6;
	width: 420px;
	height: 169px;
	border-radius: 5px;
	position: absolute;
	top: 130px;
	left: 120px;
  }

  #workImageInput {
	position: absolute;
	top: 110px;
	left: 130px;
  }

  .work-image-title {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 350px;
	left: 120px;
	width: 420px;
	gap: 10px;
  }

  .work-image-cat {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 450px;
	left: 120px;
	width: 420px;
	gap: 10px;
  }

  .work-image-cat select {
	height: 40px;
	font-size: 1.2em;
	border: 1px solid #1D6154;
	border-radius: 5px;
	padding: 5px;
	background-color: #FFFEF8;
	color: #1D6154;
  }

  .fa-image {
	transform: scale(6);
	position: absolute;
	top: 50px;
	left: 200px;
	opacity:50%
  }

  .custom-text {
	position: absolute;
	bottom: 9px;
	left: 125px;
	background-color: #E8F1F6;
	padding-left: 20px;
  }

  #previewImage {
	height: 169px;
	position: absolute;
	left: 100px;
	z-index: 2;
	background-color: #E8F1F6;
	padding-left: 50px;
	padding-right: 50px;
  }

  #modif-mode {
	width: 100vw;
	height: 50px;
	display: flex;
	flex-direction: row;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
  }

  #modif-mode i, #modif-mode p {
	color: white;
	padding-right: 10px;
  }

  #modif-mode button {
	height: 38px;
	width: 216px;
	border-radius: 25px;
	font-weight: bold;
  }

  #post {
	position: absolute;
	top: 560px;
	right: 30%;
	cursor: pointer;
  }